<template>
    <lightning-button label="Delete" onclick={handleDelete}></lightning-button>
    <lightning-datatable key-field="Id" 
                         data={accounts.data}
                         columns={columns}
                         onrowselection={getSelectedId}>
    </lightning-datatable>
</template>