<template>
    <lightning-card title="HelloWorld">
      <div class="slds-m-around_medium">
          <p>hello, {greeting}</p>
          <lightning-input name="Name" value={greeting} onchange={changeHandler}></lightning-input>
      </div>
    </lightning-card>
</template>