<template>
    <lightning-card title="Employee Info">
      <div class="slds-m-around_medium">
        <p>Employee Name : {name}</p>
        <p>Employee Age : {age}</p>
        <p>Employee Salary : {salary}</p>
        <lightning-input label="Enter Name" value={name} onchange={nameHandler}></lightning-input>
        <lightning-input label="Enter age" value={age} onchange={ageHandler}></lightning-input>
        <lightning-input label="Enter Salary" value={salary} onchange={salaryHandler}></lightning-input>
      </div>
    </lightning-card>
</template>