<template>
    <lightning-card title="Hello ForEach">
      <ul class="slds-m-around_medium">
        <!--<template for:each={contacts} for:item="contact">
          <li key={contact.Id}>{contact.Name},{contact.Title}</li>
        </template>-->
        <template iterator:it={contacts}>
          <li key={it.value.id}>
            <div if:true={it.first} class="list-first"></div>
            {it.value.Name},{it.value.Title}
            <div if:true={it.last} class="list-last"></div>
          </li>
        </template>
      </ul>
    </lightning-card>
</template>